$light : 'HirukoPro-Light';
$extra-light : 'Gilroy-ExtraBold';
$Regular : 'HirukoPro-Regular';
$Bold : 'Gilroy-ExtraBold';
$Book : 'HirukoPro-Book';




@font-face {
    font-family: 'HirukoPro-Regular';
    src: url('../../assets/fonts/HirukoPro-Regular.woff2') format("woff2");
}

@font-face {
    font-family: 'HirukoPro-Book';
    src: url('../../assets/fonts/HirukoPro-book.woff2') format("woff2");
}

@font-face {
    font-family: 'HirukoPro-Light';
    src: url('../../assets/fonts/HirukoPro-Light.woff2') format("woff2");
}
