@font-face {
    font-family: 'Hiruko Pro Outline';
    src: url('HirukoProOutline-RegularOblique.eot');
    src: local('Hiruko Pro Outline Regular Oblique'), local('HirukoProOutline-RegularOblique'),
        url('HirukoProOutline-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoProOutline-RegularOblique.woff2') format('woff2'),
        url('HirukoProOutline-RegularOblique.woff') format('woff'),
        url('HirukoProOutline-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-Light.eot');
    src: local('Hiruko Pro Light'), local('HirukoPro-Light'),
        url('HirukoPro-Light.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-Light.woff2') format('woff2'),
        url('HirukoPro-Light.woff') format('woff'),
        url('HirukoPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Alternate';
    src: url('HirukoProAlternate-Light.eot');
    src: local('Hiruko Pro Alternate Light'), local('HirukoProAlternate-Light'),
        url('HirukoProAlternate-Light.eot?#iefix') format('embedded-opentype'),
        url('HirukoProAlternate-Light.woff2') format('woff2'),
        url('HirukoProAlternate-Light.woff') format('woff'),
        url('HirukoProAlternate-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-ExtraLight.eot');
    src: local('Hiruko Pro Extra Light'), local('HirukoPro-ExtraLight'),
        url('HirukoPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-ExtraLight.woff2') format('woff2'),
        url('HirukoPro-ExtraLight.woff') format('woff'),
        url('HirukoPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Alternate';
    src: url('HirukoProAlternate-Bold.eot');
    src: local('Hiruko Pro Alternate Bold'), local('HirukoProAlternate-Bold'),
        url('HirukoProAlternate-Bold.eot?#iefix') format('embedded-opentype'),
        url('HirukoProAlternate-Bold.woff2') format('woff2'),
        url('HirukoProAlternate-Bold.woff') format('woff'),
        url('HirukoProAlternate-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Outline';
    src: url('HirukoProOutline-RegularAlt.eot');
    src: local('Hiruko Pro Outline Regular Alt'), local('HirukoProOutline-RegularAlt'),
        url('HirukoProOutline-RegularAlt.eot?#iefix') format('embedded-opentype'),
        url('HirukoProOutline-RegularAlt.woff2') format('woff2'),
        url('HirukoProOutline-RegularAlt.woff') format('woff'),
        url('HirukoProOutline-RegularAlt.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Alternate';
    src: url('HirukoProAlternate-Book.eot');
    src: local('Hiruko Pro Alternate Book'), local('HirukoProAlternate-Book'),
        url('HirukoProAlternate-Book.eot?#iefix') format('embedded-opentype'),
        url('HirukoProAlternate-Book.woff2') format('woff2'),
        url('HirukoProAlternate-Book.woff') format('woff'),
        url('HirukoProAlternate-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Alternate';
    src: url('HirukoProAlternate.eot');
    src: local('Hiruko Pro Alternate'), local('HirukoProAlternate'),
        url('HirukoProAlternate.eot?#iefix') format('embedded-opentype'),
        url('HirukoProAlternate.woff2') format('woff2'),
        url('HirukoProAlternate.woff') format('woff'),
        url('HirukoProAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-BlackOblique.eot');
    src: local('Hiruko Pro Black Oblique'), local('HirukoPro-BlackOblique'),
        url('HirukoPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-BlackOblique.woff2') format('woff2'),
        url('HirukoPro-BlackOblique.woff') format('woff'),
        url('HirukoPro-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-LightOblique.eot');
    src: local('Hiruko Pro Light Oblique'), local('HirukoPro-LightOblique'),
        url('HirukoPro-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-LightOblique.woff2') format('woff2'),
        url('HirukoPro-LightOblique.woff') format('woff'),
        url('HirukoPro-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-ExtraLightOblique.eot');
    src: local('Hiruko Pro Extra Light Oblique'), local('HirukoPro-ExtraLightOblique'),
        url('HirukoPro-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-ExtraLightOblique.woff2') format('woff2'),
        url('HirukoPro-ExtraLightOblique.woff') format('woff'),
        url('HirukoPro-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-Book.eot');
    src: local('Hiruko Pro Book'), local('HirukoPro-Book'),
        url('HirukoPro-Book.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-Book.woff2') format('woff2'),
        url('HirukoPro-Book.woff') format('woff'),
        url('HirukoPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Alternate';
    src: url('HirukoProAlternate-ExtraLight.eot');
    src: local('Hiruko Pro Alternate Extra Light'), local('HirukoProAlternate-ExtraLight'),
        url('HirukoProAlternate-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('HirukoProAlternate-ExtraLight.woff2') format('woff2'),
        url('HirukoProAlternate-ExtraLight.woff') format('woff'),
        url('HirukoProAlternate-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-Black.eot');
    src: local('Hiruko Pro Black'), local('HirukoPro-Black'),
        url('HirukoPro-Black.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-Black.woff2') format('woff2'),
        url('HirukoPro-Black.woff') format('woff'),
        url('HirukoPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-Bold.eot');
    src: local('Hiruko Pro Bold'), local('HirukoPro-Bold'),
        url('HirukoPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-Bold.woff2') format('woff2'),
        url('HirukoPro-Bold.woff') format('woff'),
        url('HirukoPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-Regular.eot');
    src: local('Hiruko Pro Regular'), local('HirukoPro-Regular'),
        url('HirukoPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-Regular.woff2') format('woff2'),
        url('HirukoPro-Regular.woff') format('woff'),
        url('HirukoPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-RegularOblique.eot');
    src: local('Hiruko Pro Regular Oblique'), local('HirukoPro-RegularOblique'),
        url('HirukoPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-RegularOblique.woff2') format('woff2'),
        url('HirukoPro-RegularOblique.woff') format('woff'),
        url('HirukoPro-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Outline';
    src: url('HirukoProOutline-Regular.eot');
    src: local('Hiruko Pro Outline Regular'), local('HirukoProOutline-Regular'),
        url('HirukoProOutline-Regular.eot?#iefix') format('embedded-opentype'),
        url('HirukoProOutline-Regular.woff2') format('woff2'),
        url('HirukoProOutline-Regular.woff') format('woff'),
        url('HirukoProOutline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro Alternate';
    src: url('HirukoProAlternate-Black.eot');
    src: local('Hiruko Pro Alternate Black'), local('HirukoProAlternate-Black'),
        url('HirukoProAlternate-Black.eot?#iefix') format('embedded-opentype'),
        url('HirukoProAlternate-Black.woff2') format('woff2'),
        url('HirukoProAlternate-Black.woff') format('woff'),
        url('HirukoProAlternate-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-BookOblique.eot');
    src: local('Hiruko Pro Book Oblique'), local('HirukoPro-BookOblique'),
        url('HirukoPro-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-BookOblique.woff2') format('woff2'),
        url('HirukoPro-BookOblique.woff') format('woff'),
        url('HirukoPro-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hiruko Pro';
    src: url('HirukoPro-BoldOblique.eot');
    src: local('Hiruko Pro Bold Oblique'), local('HirukoPro-BoldOblique'),
        url('HirukoPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('HirukoPro-BoldOblique.woff2') format('woff2'),
        url('HirukoPro-BoldOblique.woff') format('woff'),
        url('HirukoPro-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

