@use '../helpers/colors'as *;
@use '../helpers/breakpoints' as *;

.main-menu{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    background-color: $violet;
    margin: 10px;
    border-radius: 200px;

    &_list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;

        &_item{

            &_link{

            }
        }
    }

   
}